{
  "presets": [
    "@emotion/babel-preset-css-prop",
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "importSource": "@emotion/react"
      }
    ]
  ]
}